* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Calibri Light';
}

a {
	text-decoration: none;
}

.wrapper {
	background-color: #fff;
}

.wrapper > header {
	background-color: rgb(20, 30, 234);
	text-align: center;

	}

.wrapper > header > h1 {
	padding: 40px 0px 15px 0px;
	font-size: 40px;
	color: #fff;
}

#main {
	padding: 30px 0px;
	margin: 0px auto;
	width: 1600px;
}

#main > header > nav#top-menu {
	display: inline-block;
	vertical-align: top;
	width: 80%;
	margin-left: 350px;
}

#main > header > nav#top-menu > ul {
	list-style: none;
}
				
#main > header > nav#top-menu > ul > li {
	display: inline-block;
	margin-right: 5px;
}

#main > header > nav#top-menu > ul > li > a {
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 15px;
	color: rgb(20, 30, 234);
	font-weight: bold;
	font-size: 20px;
}

#main > header > nav#top-menu > ul > li.active > a {
	background-color: #234;
	border-radius: 5px;
	color: white;
}

#main > header > nav#top-menu > ul > li:hover > a {
	background-color: #cdf;
	border-radius: 5px;
	color: black;
}

.wrapper > footer {
	background-color: rgb(20, 30, 234);
	text-align: center;
	padding: 30px 0px;
	font-size: 20px;
	color: #fff;
}

#form {
	width:800px;
	height:800px;
	margin: 50px auto;
	padding: 30px;
	background-color: rgb(20, 30, 234);
	color: yellow;
	border-radius: 20px;
}

#form h1{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
}

#form #signup{
	font-size: 20px;
}
#form #signup input{
	margin:15px;
	padding: 5px;
}

#submit{
	background-color: yellow;
	border-radius: 5px;
	padding: 10px 20px;
	width:100px;
	height: 50px;
	color: rgb(20, 30, 234);
	float:left;
}

 #reset{
	background-color: yellow;
	border-radius: 5px;
	padding: 10px 20px;
	color: rgb(20, 30, 234);
	width:100px;
	height: 50px;
	float: right;
}